@font-face {
  font-family: 'Intro';
  src: url('@/assets/fonts/Intro.woff2') format('woff2'),
       url('@/assets/fonts/Intro.woff') format('woff'),
       url('@/assets/fonts/Intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Intro', sans-serif;
  letter-spacing: 2px;
}
